<h3>Latest posts</h3><br>
<% @posts.each do |post| %>
	<span style="font-family: inherit; color: blue"> <%= post['author'] %></span>
	<p> <%= post['content'] %></p><br>
	 Added at <%= post['created_date']%><br>
	  
	<hr>
	<% end %>